<!DOCTYPE html>
<html>
<body>

<h2>Please, fill information about car</h2>
<br>

<form th:action="@{/__${shopId}__/save}">
    <table>
        <tr>
            <td>Brand</td>
            <td>
                <input type="text" name="brand" />
            </td>
        </tr>

        <tr>
            <td>Model</td>
            <td>
                <input type="text" name="model" />
            </td>
        </tr>

        <tr>
            <td>Age of produce</td>
            <td>
                <input type="text" name="ageOfProduce" />
            </td>
        </tr>

        <tr>
            <td>Price</td>
            <td>
                <input type="text" name="price" />
            </td>
        </tr>
    </table>
    <br>

    <input type="submit" value="Save">
</form>

<a th:href="@{/__${shopId}__}">
    <input type="button" value="Back to cars">
</a>
<br>

<a th:href="@{/}">
    <input type="button" value="Back to shops">
</a>

</body>
</html>