<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<h2>ALL CARS</h2>

<table>
    <th>Brand</th>
    <th>Model</th>
    <th>Age Of Produce</th>
    <th>Price</th>
    <th:block th:each="car : ${cars}">
        <tr>
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.ageOfProduce}"></td>
            <td th:text="${car.price}"></td>
            <td>
                <form th:method="DELETE" th:action="@{/shop/all_cars/delete/__${car.carId}__}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </th:block>
</table>
<br>

<a th:href="@{/shop/all_cars/add_new_car}">
    <input type="button" value="Add new car">
</a>
<br>

<a th:href="@{/shop}">
    <input type="button" value="Back to shops">
</a>

</body>
</html>