<!DOCTYPE html>
<html>
<body>

<h2>Full information</h2>
<br>

<table>
    <th>Brand</th>
    <th>Model</th>
    <th>Age of produce</th>
    <th>Price</th>
    <tr>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.ageOfProduce}"></td>
        <td th:text="${car.price}"></td>
    </tr>
</table>
<br>

<a th:href="@{/__${shopId}__}">
    <input type="button" value="Back to cars">
</a>
<br>

<a th:href="@{/}">
    <input type="button" value="Back to shops">
</a>

</body>
</html>